.title{
  border-style: solid;
  border-color: yellow
}

body {
  background-color: forestgreen;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 15px;
}

#firstColor{
  background-color: yellow;
}

#secondColor{
  background-color: white;
}

.biggerText{
  font-size: 40px;
}

.mediumText{
  font-size: 30px;
}

footer{
    background-color: green;
    opacity: 0.9;
}